@charset "ISO-8859-1";

.nav-pills .nav-link.active, .nav-pills .navbar-dark, .bg-dark {
	background-color: #1e5a7b !important;
	color: #fff !important
}

.nav-pills .nav-link{
	color: #1e5a7b !important;
}

.border-primary {
	border-color: #1e5a7b !important;
}

.btn-primary {
	background-color: #1e5a7b !important;
	color: #fff !important;
	border-color: #1e5a7b !important;
}

.btn-outline-primary {
    color: #1e5a7b !important;
    border-color: #1e5a7b !important;
}

.btn-outline-primary:hover{
	background-color: #1e5a7b;
	color: #fff !important;
}

.ui-datepicker {
    z-index: 10000 !important;
}

.ui-calendar, .ui-calendar .ui-inputfield{
	width: 100% !important;
}

input[type=checkbox]{
	margin-right: 5px;
}

.grid-checkbox td {
    padding: .5rem;
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon{
	    margin-top: -0.7rem !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: ">";
}

.breadcrumb .breadcrumb-item a{
	color: #6c757d;
}

.p-priority-high {
    background-color: red;
    color: white;
}
.p-priority-medium {
    background-color: orange;
    color: white;
}
.p-priority-low {
    background-color: green;
    color: white;
}

.login-img {
    position: relative;
    display: inline-block;
}

.login-img img{
	width: 100%;
}

.login-text {
position: absolute;
    bottom: 10px;
    right: 10%;
    color: #41b7cf;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bolder;
}