@charset "ISO-8859-1";

.nav-pills .nav-link.active, .nav-pills .navbar-dark, .bg-dark {
	background-color: #416285 !important;
	color: #fff !important
}

.nav-pills .nav-link{
	color: #416285 !important;
}

.border-primary {
	border-color: #416285 !important;
}

.btn-primary {
	background-color: #416285 !important;
	color: #fff !important;
	border-color: #416285 !important;
}

.btn-outline-primary {
    color: #416285 !important;
    border-color: #416285 !important;
}

.btn-outline-primary:hover{
	background-color: #416285;
	color: #fff !important;
}

.ui-datepicker {
    z-index: 10000 !important;
}

.ui-calendar, .ui-calendar .ui-inputfield{
	width: 100% !important;
}